.header_section form a {
    text-decoration: none;
    padding: 8px 20px 8px 20px !important;
    border-radius: 25px;
    color: #fff;
    
    border-color: #17a2b8;
    font-size: 18px;
}
.header_section li a{
 color: #00394f;
 font-size: 18px;
 font-weight: bold;
 padding-right: 15px !important;
}
.header_section li a:hover{
    color: #17a2b8 !important;
}

/* banner_section */

.banner_section h1{
    font-size: 60px !important;
}
.banner_section .banner_link{
    text-decoration: none;
    padding: 10px 25px 10px 25px !important;
    border-radius: 30px;
    color: #fff;
    background-color: #00394f;
    border-color: #00394f;
    font-size: 16px;
}

.class_start .section-title{
    position: relative;
    display: inline-block;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #17a2b8;
}

.class_start .px-5{
    padding-left: 3rem !important;
}
.class_start .px-5{
    padding-right: 3rem !important;
}